<a href="https://colab.research.google.com/github/parnellt3150/CTI110/blob/main/P2HW2_PANELLTHOMAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# THOMAS PARNELL
# 2/24//2025
# P2HW2
# ENTER GRADES FOLLOWING TEST

# Get 6 Grares from the user they should be floats
grade1 = float(input("Enter grade for Module 1: "))

Enter grade for Module 1: 25.55

In [15]:
# THOMAS PARNELL
# 2/24//2025
# P2HW2
# ENTER GRADES FOLLOWING TEST

# Get 6 Grares from the user they should be floats
grade1 = float(input("Enter grade for Module 1: "))
grade2 = float(input("Enter grade for Module 2: "))
grade3 = float(input("Enter grade for Module 3: "))
grade4 = float(input("Enter grade for Module 4: "))
grade5 = float(input("Enter grade for Module 5: "))
grade6 = float(input("Enter grade for Module 6: "))

# create an empty list
grade_list = []

# use append method to add all grades into the list
# coe looks like this : list_name.append()(what_to_add-to _list)
grade_list.append(grade1)
grade_list.append(grade2)
grade_list.append(grade3)
grade_list.append(grade4)
grade_list.append(grade5)
grade_list.append(grade6)

# dispaly the list
print(grade_list)
print

# Display Value to user
print("-------------------Results----------------------------------------------")
print(f"{'Lowest Grade:': <20} {min(grade_list)}")
print(f"{'Highest Grade: ':<20} {max(grade_list)}")
print(f"{'Sum of Grade:': <20} {sum(grade_list)}")
Average =sum(grade_list)/len(grade_list)
print(f"{'Average:': <20} {Average:.2f}")
print("------------------------------------------------------------------------")

Enter grade for Module 1: 10
Enter grade for Module 2: 20
Enter grade for Module 3: 30
Enter grade for Module 4: 40
Enter grade for Module 5: 50
Enter grade for Module 6: 60
[10.0, 20.0, 30.0, 40.0, 50.0, 60.0]
-------------------Results----------------------------------------------
Lowest Grade:        10.0
Highest Grade:       60.0
Sum of Grade:        210.0
Average:             35.00
------------------------------------------------------------------------